.container {
  padding: 1rem;
  text-align: center;
}

.navegacao {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.card {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
